<ion-content [fullscreen]="true">
  <p>
    <mat-toolbar color="color">
      <span>Te Llevo APP</span>
    </mat-toolbar>
  </p>
  <div id="container">
    <h1>Restablecer contraseña</h1>
    <mat-form-field>
      <mat-label>Ingresa tu usuario</mat-label>
      <input  matInput>
    </mat-form-field>
    <br>
    <ion-button color="color" fill="outline" [routerLink]="['/login']" id="present-alert">Restablecer
      contraseña</ion-button>
    <ion-alert trigger="present-alert" message="Se ha enviado un mensaje para restablecer contraseña"
      [buttons]="alertButtons"></ion-alert>

  </div>
</ion-content>