<ion-content [fullscreen]="true">
  <p>
    <mat-toolbar color="color">
      <span>Te Llevo APP</span>
    </mat-toolbar>
  </p>
  <div id="container">
    <h1>Restablecer contraseña</h1>
    <mat-form-field>
      <mat-label>Ingresa tu usuario</mat-label>
      <input  matInput [(ngModel)]="username">
    </mat-form-field>
    <br>
    <div *ngIf="error" class="error-message" style="color: red;">
      Debe ingresar el usuario para restablecer contraseña
    </div>
    <ion-button color="color" fill="outline" (click)="restablecer()" id="present-alert">Restablecer
      contraseña</ion-button>
      <br>
  <br>
  <a fill="outline" color="color" [routerLink]="['/login']">Volver</a>
    <ion-alert *ngIf="mensaje" trigger="present-alert" message="Se ha enviado un mensaje para restablecer contraseña"
      [buttons]="alertButtons"></ion-alert>

  </div>
</ion-content>