<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Ingresa tu Correo</h1>

    <br>

    <div>

      <mat-form-field class="mat">
        <mat-label>Ingresa tu usuario</mat-label>
        <input matInput [(ngModel)]="correo">
      </mat-form-field>

    </div>



    <ion-button fill="outline" color="success" style="align-items: center;" (click)="enviar()">Enviar
      Correo</ion-button>
  </div>

</ion-content>