<ion-content [fullscreen]="true">
  <p>
    <mat-toolbar color="color">
      <span>Te Llevo APP</span>
    </mat-toolbar>
  </p>
  <div id="container">
  <h1>Login</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-form-field class="mat">
          <mat-label>Ingresa tu usuario</mat-label>
          <input matInput [(ngModel)]="credentials.username">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field class="mat">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input matInput [(ngModel)]="credentials.password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="loginerror" class="error-message" style="color: red;">
    Credenciales incorrectas. Verifica tu usuario y contraseña.
  </div>
  <div *ngIf="loginvacio" class="error-message" style="color: red;">
    No puede dejar campos vacios
  </div>
  <br>
  <ion-button fill="outline" color="color" (click)="entrar()" >Ingresar</ion-button>
  <br>
  <br>
  <a fill="outline" color="color" [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
  </div>
</ion-content>