<ion-content [fullscreen]="true">
  <p>
    <mat-toolbar color="color">
      <span>Te Llevo APP</span>
    </mat-toolbar>
  </p>
  <div class="centered-container">
    <h1 style="text-align: center;">Bienvenid@ {{ credentials.username }}</h1>
    <div class="container">
      <ion-grid *ngIf="tipo_user == 1">
        <ion-row>
          
          <ion-col size="8" style="margin-top: 5%;">
            <h4>Aqui puedes crear tus viajes</h4>
          </ion-col>
          <ion-col size="3">
            <ion-button fill="outline" color="success">Crear Viaje</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-text-center" *ngFor="let viaje of viajes">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dueño: {{ viaje.duenno }}</ion-card-title>
            <ion-card-subtitle>Patente {{ viaje.patente }} - Destino {{ viaje.destino }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-card-subtitle>Salida: {{ viaje.salida }}</ion-card-subtitle>
            <ion-card-subtitle>Capacidad: {{ viaje.capacidad }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>
    <br>
    <ion-button fill="outline" color="color" (click)="salir()">Salir</ion-button>
  </div>
</ion-content>