<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viaje</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center alig-items-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-form-field class="mat">
          <mat-label>Ingresa tu Patente</mat-label>
          <input matInput [(ngModel)]="viaje.patente">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingrese Dueño</mat-label>
          <input matInput [(ngModel)]="viaje.duenno">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingrese Destino</mat-label>
          <input matInput [(ngModel)]="viaje.destino">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingresa Hora de Salida</mat-label>
          <input matInput type="time" [(ngModel)]="viaje.salida">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingresa Fecha de Salida</mat-label>
          <input matInput type="date" [(ngModel)]="viaje.fecha">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingresar Capacidad</mat-label>
          <input matInput type="number" [(ngModel)]="viaje.capacidad">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Ingrese Precio</mat-label>
          <input matInput type="number" [(ngModel)]="viaje.precio">
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <mat-label>Tipo de Viaje</mat-label>
          <select matNativeControl [(ngModel)]="viaje.tipo_viaje">
            <option value= 0>Ida</option>
            <option value= 1>Vuelta</option>
          </select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="vacio" class="error-message" style="color: red;">
    Campos vacios
  </div>


  <ion-grid>
    <ion-row justify-content-center align-items-center>
        <ion-col size="auto">
          <ion-button fill="outline" color="danger"  (click)="salir()">Salir</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="outline" color="success"  (click)="guardarViaje()">Crear Viaje</ion-button>
        </ion-col >

    </ion-row>
  </ion-grid>